

<h2>Customer ID {{ customer.id}}</h2>
<h3>{{customer.forename}} {{customer.surename}}</h3>
<table border="1">
    <tr>
        <th>Customer Name</th>
        <td>{{ customer.forename }}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{ customer.add1 }}</td>
    </tr>
    <tr>
        <th>Postcode</th>
        <td>{{customer.postcode }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{customer.phone }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ customer.email }}</td>
    
</table>
